.animation-container {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
}

.animation-container::before {
  content: '';
  position: absolute;
  top: -30px;
  bottom: -30px;
  left: -40px;
  right: -40px;

  background-image: url('/img/00_Hand-drawn-lines/02_Skills/1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.4s ease-in-out;
  z-index: 2;
}

.animation-container:hover::before {
  clip-path: inset(0 0 0 0);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

h2 {
  font-size: 64px;
  color: #f8f9fa;
}

h3 {
  font-size: 24px;
  color: #f8f9fa;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
