.content {
  background-image: url('/img/02_Ripped-Paper/skill-description.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
}

span {
  color: #0e1013;
  word-break: break-word;
}

@media (max-width: 500px) {
  .content {
    padding: 60px 35px 40px 35px;
  }

  span {
    font-size: 14.5px;
  }
}

@media (max-width: 360px) {
  .content {
    padding: 60px 25px 35px 25px;
  }
}
