.content {
  background-image: url('/img/02_Ripped-Paper/skill-description.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  max-width: 900px;
}

span {
  color: #0e1013;
}

@media (max-width: 1500px) {
  .content {
    max-width: 700px;
  }
}

@media (max-width: 800px) {
  .content {
    padding: 60px 60px;
  }
}
