.content {
  padding-bottom: 50px;
}

h2 {
  font-size: clamp(32px, 3.33vw, 64px);
}

h3 {
  font-size: clamp(20px, 1.25vw, 24px);
}

.animation-container {
  position: relative;
  display: inline-block;
  padding-bottom: 48px;
}

.animation-container::before {
  content: '';
  position: absolute;
  top: 55%;
  left: -5%;
  right: -5%;
  height: 60%;

  background-image: url('/img/00_Hand-drawn-lines/03_Portfolio/1.png');
  background-repeat: no-repeat;
  background-size: contain;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.4s ease-in-out;
  z-index: 2;
}

.animation-container:hover::before {
  clip-path: inset(0 0 0 0);
}

span {
  display: block;
  font-size: clamp(16px, 1.1vw, 18px);
  max-width: 800px;
}
