h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
}

.content {
  color: #f8f9fa;
  width: 100%;
  padding-left: 40px;
}

.animation-container {
  display: block;
  width: 400px;
  height: auto;
  clip-path: inset(0 100% 0 0);
  animation: revealAndHide 3.5s ease-in-out infinite;
}

@keyframes revealAndHide {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  30%,
  50% {
    clip-path: inset(0 0 0 0);
  }
  80%,
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.line-container {
  padding-top: 40px;
  display: flex;
  justify-content: end;
}

@media (max-width: 800px) {
  .content {
    width: 700px;
  }

  .line-container {
    justify-content: start;
  }
}
