h2 {
  font-size: clamp(32px, 3.33vw, 64px);
}

h3 {
  font-size: clamp(20px, 1.25vw, 24px);
}

p {
  font-size: clamp(18px, 0.94vw, 18px);
  line-height: 1.5;
}

.content {
  color: #f8f9fa;
  width: 100%;
  padding-left: 40px;
}

.animation-container {
  display: block;
  width: 400px;
  height: auto;
  clip-path: inset(0 100% 0 0);
  animation: revealAndHide 3.5s ease-in-out infinite;
}

@keyframes revealAndHide {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  30%,
  50% {
    clip-path: inset(0 0 0 0);
  }
  80%,
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.line-container {
  padding-top: 40px;
  display: flex;
  justify-content: end;
}

@media (max-width: 800px) {
  .content {
    width: 90%;
  }

  h2 {
    font-size: clamp(32px, 8vw, 56px);
  }

  h3 {
    font-size: clamp(18px, 4vw, 22px);
  }

  p {
    max-width: 100%;
    font-size: clamp(18px, 3.5vw, 18px);
  }

  .animation-container {
    width: 50%;
    min-width: 120px;
  }

  .line-container {
    justify-content: start;
    padding-top: 20px;
  }

  p {
    max-width: 100%;
  }
}
