.content {
  display: flex;
  flex-wrap: nowrap;
  letter-spacing: 1px;
  font-size: clamp(40px, 10vw, 120px);
  width: 100%;
  max-width: max-content;
  padding-top: 30px;
}

.content span {
  font-size: clamp(40px, 10vw, 120px);
  display: inline-block;
  transition: all 0.2s ease;
  cursor: default;
  flex-shrink: 0;
}

.content span:hover {
  color: #f7c518;
}

.content span:nth-child(n + 2):hover {
  text-transform: uppercase;
}

.content span:first-child:hover {
  text-transform: lowercase;
}

@media (max-width: 720px) {
  .content {
    padding-top: 10px;
    margin-left: -5px;
  }
}
