.content {
  letter-spacing: 1px;
  font-size: 120px;
  padding-top: 30px;
  width: 555px;
}

.content span {
  display: inline-block;
  transition: all 0.2s ease;
  cursor: default;
}

.content span:hover {
  color: #f7c518;
}

.content span:nth-child(n + 2):hover {
  text-transform: uppercase;
}

.content span:first-child:hover {
  text-transform: lowercase;
}

@media (max-width: 900px) {
  .content {
    font-size: 100px;
    width: 450px;
  }
}
