.hero {
  height: 100vh;
  // background-image: url('./img/background/01_Hero1.png');
  background-image: url(./img/background/01_Hero1.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
