img {
  width: 200px;
}

.peel-checkbox {
  display: none;
}

.sticker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transform: rotate(8deg);
}

.sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.1s ease-in-out;
}

.sticker-text,
.sticker-arrow {
  position: absolute;
  z-index: 4;
  transition: opacity 0.05s ease-in-out;
}

.sticker-text {
  font-family: 'Kalam';
  font-size: 32px;
  bottom: 35px;
  color: #f8f9fa;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.sticker-arrow {
  width: 40px;
  top: 20px;
  right: 75px;
}

.img-1 {
  z-index: 3;
  opacity: 1;
}
.img-2 {
  z-index: 2;
  opacity: 0;
}
.img-3 {
  z-index: 1;
  opacity: 0;
}

.peel-checkbox:checked ~ .sticker-wrapper .img-1,
.peel-checkbox:checked ~ .sticker-wrapper .sticker-text,
.peel-checkbox:checked ~ .sticker-wrapper .sticker-arrow {
  opacity: 0;
  transition-duration: 0.05s;
}

.peel-checkbox:checked ~ .sticker-wrapper .img-2 {
  animation: fast-fade 0.15s ease-in-out forwards;
}

.peel-checkbox:checked ~ .sticker-wrapper .img-3 {
  opacity: 1;
  transition-delay: 0.02s;
  transition-duration: 0.1s;
}

@keyframes fast-fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .sticker-wrapper {
    width: 150px;
    height: 150px;
  }

  .sticker-arrow {
    width: 30px;
    right: 55px;
  }

  .sticker-text {
    font-size: 24px;
    bottom: 15px;
  }
}

.finish-text,
.finish-img {
  position: absolute;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.finish-text {
  font-family: 'Kalam';
  font-size: 32px;
  color: #f8f9fa;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  line-height: 1.2;
}

.finish-img {
  width: 60px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.peel-checkbox:checked ~ .sticker-wrapper .finish-text,
.peel-checkbox:checked ~ .sticker-wrapper .finish-img {
  opacity: 1;
}

@media (max-width: 800px) {
  .finish-text {
    font-size: 24px;
  }

  .finish-img {
    width: 45px;
    bottom: 15px;
  }
}
