.content {
  width: 90%;
  padding-right: 40px;
}

.separator {
  background-color: #f7c518;
  width: 100%;
  height: 1px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(247, 197, 24, 0.3);
}

.last-line {
  margin-top: 0px;
}

.input-group:hover label {
  color: #f87a55;
}

.input-group:first-child .separator {
  background-color: transparent;
  box-shadow: none;
}

.input-group:hover .separator {
  background-color: #3355ff;
  box-shadow:
    0 0 8px #3355ff,
    0 0 15px rgba(51, 85, 255, 0.6);
}

.input-group:hover + .input-group .separator {
  background-color: #3355ff;
  box-shadow:
    0 0 8px #3355ff,
    0 0 15px rgba(51, 85, 255, 0.6);
}

.input-group:hover + .last-line {
  background-color: #3355ff;
  box-shadow:
    0 0 8px #3355ff,
    0 0 15px rgba(51, 85, 255, 0.6);
}

input,
textarea {
  background: transparent;
  border: none;
  color: #f8f9fa;
  width: 100%;
  outline: none;
  padding: 10px 0;
  padding-left: 20px;
  resize: none;
}

label {
  display: block;
  font-size: 24px;
  color: #f8f9fa;
  padding-left: 20px;
}

.agreement-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 30px 0;
  color: #f8f9fa;
  cursor: pointer;
}

.agreement-checkbox {
  display: flex;
  align-items: center;
}

.agreement-checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3355ff;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.agreement-checkbox input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/additionals/Check1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.agreement-checkbox input[type='checkbox']:checked {
  background-color: transparent;
  border-color: #3355ff;
  box-shadow: 0 0 10px rgba(51, 85, 255, 0.5);
}

.agreement-checkbox input[type='checkbox']:checked::after {
  opacity: 1;
}
.policy-text {
  font-size: 18px;
}

.highlight-text {
  color: #3355ff;
  transition: color 0.3s ease;
}

.highlight-text:hover {
  color: #f7c518;
}

.send-button {
  color: #f8f9fa;
  border: 2px solid #f8f9fa;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px;
  width: 150px;
  box-shadow: 3px 3px 0 #f8f9fa;
  cursor: pointer;

  transition:
    transform 0.12s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.12s cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:active {
  transform: translate(3px, 3px);
  box-shadow: 0 0 0 #f8f9fa;
  background-color: #f87a55;
}

.send-button:hover {
  background-color: #f87a55;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
