.content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

:host-context(.mobile-menu) .content {
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}
