h3 {
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 8px;
}

p {
  margin: 0;
}

.card-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.preview-container {
  width: 100%;
  height: auto;
  aspect-ratio: 1.42;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%);
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &:hover {
    .preview-image {
      transform: scale(1.15);
    }
    &::after {
      opacity: 1;
    }
    .preview-button {
      opacity: 1;
    }
  }
}

.preview-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}

.preview-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px;
  width: 150px;
  box-shadow: 3px 3px 0 white;
  cursor: pointer;
  z-index: 2;
  opacity: 0;

  transition:
    opacity 0.4s ease,
    background-color 0.2s ease,
    transform 0.12s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.12s cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 0 white;
    background-color: #f87a55;
  }

  &:hover {
    background-color: #f87a55;
  }
}

@media (max-width: 720px) {
  .card-wrapper {
    display: flex;
    flex-direction: column;
  }

  .preview-container {
    display: contents;

    &::after {
      display: none;
      content: none;
    }

    &:hover .preview-image {
      transform: scale(1);
    }
  }

  .preview-image {
    order: 1;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 1.42;
    border-radius: 25px;
    overflow: hidden;
    display: block;

    transform: scale(1);
    transition: none;
  }

  h3 {
    order: 2;
  }
  p {
    order: 3;
  }

  .preview-button {
    order: 4;
    position: static;
    opacity: 1;
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    color: #0e1013;
    border: 2px solid #0e1013;
    box-shadow: 3px 3px 0 #0e1013;
    transition: all 0.1s ease;

    &:active {
      transform: translate(3px, 3px);
      box-shadow: 0px 0px 0 #0e1013;
      background-color: #f87a55;
    }
  }
}
