:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1920px;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.inner-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-right: 40px;
}

.cta-btn-container {
  display: flex;
  justify-content: end;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column-reverse;
  }
}

@media (max-width: 720px) {
  .content {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
