.content {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-evenly;
}

.content img {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.content img:hover {
  filter: grayscale(0%);
  transform: scale(0.75);
}

@media (max-width: 1500px) {
  .content {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .content {
    width: 350px;
    gap: 16px;
  }
}
