.content {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-evenly;
}

.content img {
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.content img:hover {
  filter: grayscale(0%);
  transform: scale(0.75);
}
