.polaroid-wrapper {
  position: relative;
  display: block;
  width: 200px;
  transform: rotate(8deg);
  display: inline-block;
}

.frame {
  width: 100%;
  position: relative;
  z-index: 2;
  display: block;
}

.photo {
  position: absolute;
  top: 5.5%;
  left: 7%;
  width: 86%;
  height: 80%;
  object-fit: cover;
  z-index: 1;
  filter: grayscale(100%);
}

.polaroid-wrapper:hover .photo {
  filter: grayscale(0%);
}

.frame {
  width: 200px;
  position: relative;
  z-index: 2;
  display: block;
  pointer-events: none;
}

.name-tag {
  position: absolute;
  color: black;
  bottom: 2%;
  left: 20%;
  z-index: 3;
  font-size: clamp(12px, 5vw, 30px);
  font-weight: bold;
  font-family: 'Kalam';
  white-space: nowrap;
}

.smiley {
  font-family: 'Kalam';
  display: inline-block;
  transition: transform 0.2s ease;
}

.polaroid-wrapper:hover .smiley {
  visibility: hidden;
}

.polaroid-wrapper:hover .smiley::after {
  content: '  :D';
  visibility: visible;
  display: inline-block;
  margin-left: -15px;
}

@media (max-width: 900px) {
  .polaroid-wrapper,
  .frame {
    width: 150px;
  }

  .name-tag {
    left: 30%;
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .polaroid-wrapper,
  .frame {
    width: clamp(180px, 65vw, 280px);
  }

  .photo {
    top: 5.5%;
    left: 7.5%;
    width: 85%;
    height: 78%;
    position: absolute;
  }

  .name-tag {
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(18px, 5vw, 26px);
  }
}
