:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 1920px;
  padding-top: 100px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 720px) {
  .content {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
