.content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  height: auto;
  padding: 40px 0;
  max-width: 1920px;
  gap: 8px;
  width: fit-content;
}

img {
  width: 40px;
}

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 120%, blue 0%, blue 55%, blue 100%);
  background-size: 100% 0%;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}

.img-border:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

@media (max-width: 720px) {
  .content {
    flex-direction: row;
    min-height: auto;
    padding: 20px 0;
    justify-content: center;
    width: 100%;
  }

  .img-border {
    width: 45px;
    height: 45px;
  }

  img {
    width: 30px;
  }
}
