:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1920px;
  height: 1200px;
  background-image: url('/img/background/03_Skills1.png');
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout {
  display: flex;
  width: 100%;
  height: 600px;
  max-width: 1920px;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  margin-bottom: 60px;
}

.inner-layout {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.col-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.col-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.col-right {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
