:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  height: auto;
  background-image: url('/img/background/03_Skills1.png');
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.main-layout {
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1600px;
  width: clamp(600px, 90%, 1600px);
  align-items: center;
  justify-content: center;
  padding: 0 80px;
  margin-bottom: 60px;
}

.inner-layout {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.col-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.col-right {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

@media (max-width: 1500px) {
  .main-layout {
    flex-direction: column;
  }

  .col-right {
    margin-top: 20px;
    margin-left: 0px;
    align-self: flex-end;
  }

  .inner-layout {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .inner-layout {
    gap: 0px;
  }

  .main-layout {
    width: 95%;
    padding: 0 15px;
  }

  .col-right {
    margin-top: 30px;
    align-self: center;
    margin-left: 0;
  }
}
