:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1920px;
  height: 800px;
  background-image: url('/img/background/03_Skills1.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout {
  display: flex;
  width: 100%;
  max-width: 1920px;
  align-items: flex-start;
}

.left-col {
  display: flex;
}

.right-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  gap: 60px;
}

.badge-wrapper {
  position: absolute;
  right: 150px;
  bottom: 80px;
}
