/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: inherit;
  font-family: 'Bricolage Grotesque';
}

// body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/bricolage-grotesque-v9-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/kalam-v18-latin-regular.woff2') format('woff2');
}
