/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: inherit;
}

// /* bricolage-grotesque-regular - latin */
// @font-face {
//   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//   font-family: 'Bricolage Grotesque';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../fonts/bricolage-grotesque-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }
