/* You can add global styles to this file, and also import other style files */
* {
  position: relative;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: inherit;
  color: inherit;
}
