nav {
  width: 90%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

p {
  color: #f8f9fa;
}

.btn {
  color: #f8f9fa;
  border: none;
  background-color: #333;
  border-radius: 25px;
  padding: 10px;
  width: 150px;
  height: 45px;
  cursor: pointer;
  position: relative;
  overflow: visible;
  background: linear-gradient(to left, blue 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: left bottom;

  transition:
    background-position 0.4s ease-out,
    color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-position: right bottom;
}

.btn-icon {
  position: absolute;
  height: 35px;
  width: auto;
  opacity: 0;
  left: 50%;
  top: 0;
  transform: translate(-45%, -100%) rotate(0deg);
  transition:
    left 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.3s ease;
}

.btn:hover .btn-icon {
  opacity: 1;
  left: 90%;
  transform: translate(-50%, -100%) rotate(360deg);
}

.animation-container {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
}

.animation-container::before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;

  background-image: url('/img/00_Hand-drawn-lines/00_Header/color-option-1/3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.4s ease-in-out;
  z-index: 2;
}

.animation-container:hover::before {
  clip-path: inset(0 0 0 0);
}
