.projects-wrapper {
  display: flex;
  gap: 120px;
}

@media (max-width: 650px) {
  .projects-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .projects-wrapper {
    gap: 50px;
  }
}
