h2 {
  font-size: 64px;
}

.content {
  display: flex;
  flex-direction: column;
}

.preview-container {
  width: 500px;
  height: 400px;
  border-radius: 25px;
  background-image: url('/img/projects/Pollo-png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
