.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  .paper-wrapper {
    position: relative;
    width: 500px;

    .paper-bg {
      width: 100%;
      height: auto;
      display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .overlay-icon {
        width: 40px;
        margin-bottom: 8px;
      }

      .overlay-text {
        color: #ffffff;
        font-size: 24px;
      }
    }

    &:nth-child(1) {
      z-index: 3;
      transform: rotate(-3deg);
    }

    &:nth-child(2) {
      z-index: 2;
      margin-top: -30px;
    }

    &:nth-child(3) {
      z-index: 1;
      margin-top: -35px;
      transform: rotate(3deg) translateY(-5px);
    }
  }
}
