:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge {
  width: 60%;
  display: flex;
  justify-content: start;
}

.title {
  width: 60%;
}

.title2 {
  width: 70%;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 870px;
  padding: 0 20px;
}

.title-2-container {
  display: flex;
  justify-content: center;
}

.inner-container-with-profile {
  display: flex;
  width: 100%;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.cta-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
