:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.badge,
.title,
.title2 {
  width: 100%;
  max-width: 600px;
  display: flex;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 870px;
}

.title-2-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inner-container-with-profile {
  display: flex;
  width: 100%;
  gap: 5%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.profile {
  flex-shrink: 1;
  min-width: 50px;
  height: auto;
}

.cta-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

@media (max-width: 900px) {
  .cta-container {
    padding-right: 40px;
  }

  .profile {
    margin-top: -20px;
  }
}

@media (max-width: 720px) {
  .outer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-top: 20px;
  }

  .inner-container-with-profile {
    display: contents;
  }

  .innermost-container {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .title-2-container {
    order: 2;
    justify-content: flex-start;
  }

  .cta-container {
    order: 3;
    justify-content: end;
    padding-right: 40;
    width: 100%;
    padding-top: 15px;
  }

  .profile {
    order: 4;
    margin-top: 30px;
    width: clamp(200px, 60vw, 250px);
    align-self: center;
  }

  .badge,
  .title,
  .title2 {
    max-width: 100%;
  }
}
