:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 900px;
  background-image: url('/img/background/06_Contact1.png');
  max-width: 1920px;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 80px;
}

app-contact-main,
app-contact-form {
  margin-top: 140px;
  flex: 1;
  width: 50%;
}

app-contact-form {
  display: flex;
  justify-content: end;
}

app-footer {
  height: 64px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 800px) {
  .content {
    height: 100vh;
  }

  .inner-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 1000px;
    align-items: flex-start;
  }
}
