:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 900px;
  background-image: url('/img/background/06_Contact1.png');
  max-width: 1920px;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
