:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-height: 900px;
  height: auto;
  position: relative;
  background-image: url('/img/background/06_Contact1.png');
  max-width: 1920px;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
}

.inner-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 80px;
}

app-contact-main,
app-contact-form {
  margin-top: 140px;
  flex: 1;
  width: 50%;
}

app-contact-form {
  display: flex;
  justify-content: end;
}

@media (max-width: 800px) {
  .content {
    min-height: 100vh;
    padding-bottom: 120px;
  }

  .inner-container {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 0px;
  }

  app-contact-main,
  app-contact-form {
    margin-top: 80px;
    width: 90%;
  }

  app-contact-form {
    justify-content: center;
  }
}

.logo-container {
  bottom: -27px;
  color: #f8f9fa;
  padding-left: 45px;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

@media (max-width: 700px) {
  .logo-container {
    padding-bottom: 70px;
    justify-content: center;
  }
}
